{% extends "accounts/base.html" %}
{%block content%}
<div style="margin-top: 3vh;" class="center-box">
    <h2>Machen Sie eine Ankündigung</h2>
    <h4>Diese Ankündigung erhalten die gewählten Benutzer des Portals PER EMAIL</h4>
    <form method="post">
        {%csrf_token%}
        <p>Betreff: </p><input type="text" name="betreff" id="betreff" style="width: 25vw;">
        <p>Nachricht:</p><textarea type="text" name="text" style="width: 25vw; height: 10vh;"></textarea>
        <p>Senden an:</p>
        {%for user in users%}
            <p>{{user.username}}<input type="checkbox" name="{{user.username}}" id=""></p>
        {%endfor%}
        <button type="reset" class="bt-yellow">ZURÜCKSETZEN</button>
        <button type="submit" class="bt-green">VERSENDEN</button>
    </form>
</div>
    
{%endblock content%}