{% extends "accounts/base.html" %}
{%block content%}
    <div class="center-box">

        <section>
            <form action="" method="post" enctype=multipart/form-data>
            
                {% csrf_token %}
                <p>Profilfoto:</p>
                <input type="file" name="profile_photo" value="{{user.profile_photo}}" class="bt-yellow" style="padding-left: 1vw; padding-right: 1vw; text-align: center;">
                <p>neuer Name:</p><input type="text" name="username" value="{{user.username}}" style="width: 15vw;">
                <p>neue Email:</p><input type="email" name="email" value="{{user.email}}" style="width: 15vw;">
                <p>neue Beschreibung:</p><input type="text" name="description" value="{{user.description}}" style="width: 15vw;">
                <br>
                <button type="submit" style="margin-top: 3vh;" class="bt-green">Senden!</button>
            </form>
        </section>
    </div>
{%endblock content%}